<p><strong>Chair:</strong><br>
Espen Hammer<br>
739 Anderson Hall<br>
<a href="mailto:ehammer@temple.edu">ehammer@temple.edu</a></p>
<hr>
<p><strong>Director of Graduate Studies:</strong><br>
Colin Chamberlain<br>
746 Anderson Hall<br> 
<a href="mailto:colin.chamberlain@temple.edu">colin.chamberlain@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Belinda Wilson<br>
821 Ritter Annex<br>
<a href="tel:2152040472">(215) 204-0472</a><br>
<a href="mailto:bwilson@temple.edu">bwilson@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Sonia Lawson<br>
731 Anderson Hall<br>
<a href="tel:2152041742">(215) 204-1742</a><br>
<a href="mailto:slawson@temple.edu">slawson@temple.edu</a></p>
