<p><strong>Chair:</strong><br>
Miriam Solomon<br>
729 Anderson Hall<br>
<a href="tel:2152049629">(215) 204-9629</a><br>
<a href="mailto:msolomon@temple.edu">msolomon@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Advisor:</strong><br>
Paul Crowe<br>
747 Anderson Hall<br>
<a href="tel:2152048591">(215) 204-8591</a><br>
<a href="mailto:pcrowe@temple.edu">pcrowe@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Belinda Wilson<br>
821 Ritter Annex<br>
<a href="tel:2152040472">(215) 204-0472</a><br>
<a href="mailto:bwilson@temple.edu">bwilson@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Sonia Lawson<br>
731 Anderson Hall<br>
<a href="tel:2152041742">(215) 204-1742</a><br>
<a href="mailto:slawson@temple.edu">slawson@temple.edu</a></p>
