<h2>Emeritus Faculty</h2>
  
<p></p>

<h3> Retired and Emeritus Faculty</h3>
<ul>
   <li>[PhilipAlperson](https://liberalarts.temple.edu/academics/faculty/alperson-philip-0)</li>
   <li>[Sidney Axinn](https://liberalarts.temple.edu/academics/faculty/axinn-sidney)</li>
   <li>[Charles Dyke](https://liberalarts.temple.edu/academics/faculty/dyke-chuck)</li>
   <li>[Susan Feagin](https://liberalarts.temple.edu/academics/faculty/feagin-susan)</li>
   <li>[Jitendra Mohanty](https://liberalarts.temple.edu/academics/faculty/mohanty-jitendra)</li>
</ul>
</div>
